<!DOCTYPE html>
<html lang=en>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sandstone/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ABdnjefqVzESm+f9z9hcqx2cvwvDNjfrwfW5Le9138qHCMGlNmWawyn/tt4jR4ba" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Draft Machine</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Draft Machine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('find') }}">Findings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('method') }}">Methodology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('charts') }}">Charts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class = "container">
        <h2>Charts</h2>
        <br>
        <h2>A Look at Correlation Between NCAA stats and NBA Win-Shares/48 minutes</h2>
        <br>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://bmatz0729.us.qlikcloud.com/single/?appid=5a9b9dd4-a178-4fd8-a76c-3dc04d5fdebf&sheet=751e4f34-034a-448d-9fbe-695f46c10b1f&opt=ctxmenu,currsel"
         style="border:none;width:100%;height:100%;"></iframe>
      </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>