<!DOCTYPE html>
<html lang=en>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sandstone/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ABdnjefqVzESm+f9z9hcqx2cvwvDNjfrwfW5Le9138qHCMGlNmWawyn/tt4jR4ba" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Draft Machine</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" href="/path/to/favicon.ico">
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="index.html">Draft Machine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="find.html">Findings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="method.html">Methodology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">

            <div class="row">

                <h1>Welcome to the 2020 Basketball Draft Machine!</h1>
                <p class="lead">What are the pro prospects for college's best basketball players? Our model applies
                    machine
                    learning to college draft picks from the past 20 years, and
                    assesses what college stats predict success or failure at the pro-level. See our 2020 draft
                    forecasts
                    below.
                    Also, try it yourself with a player of your creation.
                    For more information, check our <a href="#" class="text-primary">methodology </a> and <a href="#"
                        class="text-primary">findings</a> pages.
                </p>
                <hr class="my-4">
            </div>
        </div>
        <div class="row ml-4">
            <div class=col-6>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Player</th>
                            <th scope="col">College</th>
                            <th scope="col">Pro Prediction</th>
                            <th scope="col">Column heading</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="table-primary">
                            <th scope="row">Primary</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row">Secondary</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class=col-6>
                <form action="{{url_for('create-player')}}" method="post">
                    <div class="row mr-4">
                        <div class=col-12>
                            <h2 class="text-center">Create and Evaluate Your Own Player</h2>
                        </div>
                    </div>
                    <div class="row mr-4">
                        <div class=col-2>
                            <label for="name">Name:</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Player Name" id="name"
                                    name="player_name">
                            </div>
                        </div>
                        <div class=col-2>
                            <label for="height">Height (in.)</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <select class="form-control" id="height" name="height_select">
                                    <option>65</option>
                                    <option>70</option>
                                    <option>75</option>
                                    <option>80</option>
                                    <option>87</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mr-4">
                        <div class=col-2>
                            <label for="fg">FG%</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <select class="form-control" id="fg" name="fg_select">
                                    <option>25%</option>
                                    <option>30%</option>
                                    <option>35%</option>
                                    <option>40%</option>
                                    <option>50%</option>
                                    <option>55%</option>
                                    <option>65%</option>
                                    <option>75%</option>
                                </select>
                            </div>
                        </div>
                        <div class=col-2>
                            <label for="ws-40">Win Share/40</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <select class="form-control" id="ws-40" name="ws-40_select">
                                    <option>0</option>
                                    <option>0.05</option>
                                    <option>0.1</option>
                                    <option>0.15</option>
                                    <option>0.2</option>
                                    <option>0.3</option>
                                    <option>0.4</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="row mr-4">
                        <div class=col-2>
                            <label for="true-shoot">True Shooting %</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <select class="form-control" id="true-shoot" name="true-shoot_select">
                                    <option>35%</option>
                                    <option>40%</option>
                                    <option>45%</option>
                                    <option>50%</option>
                                    <option>55%</option>
                                    <option>60%</option>
                                    <option>65%</option>
                                    <option>70%</option>
                                </select>
                            </div>
                        </div>
                        <div class=col-2>
                            <label for="ft-ar">FT Attempt Rate</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <select class="form-control" id="ft-ar" name="ft-ar_select">
                                    <option>0.1</option>
                                    <option>0.2</option>
                                    <option>0.3</option>
                                    <option>0.4</option>
                                    <option>0.5</option>
                                    <option>0.6</option>
                                    <option>0.7</option>
                                    <option>0.8</option>
                                    <option>0.9</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="row mr-4">
                        <div class=col-2>
                            <label for="true-shoot">3-Point %</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <select class="form-control" id="true-shoot" name="true-shoot_select">
                                    <option>0%</option>
                                    <option>20%</option>
                                    <option>25%</option>
                                    <option>30%</option>
                                    <option>35%</option>
                                    <option>40%</option>
                                    <option>45%</option>
                                    <option>50%</option>
                                </select>
                            </div>
                        </div>
                        <div class=col-6>
                        </div>
                    </div>
                    <div class="row mr-4">
                        <div class=col-2>
                        </div>
                        <div class=col-4>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Go!</button>
                        </div>
                        <div class=col-6>
                        </div>
                    </div>
                </form>
                <br>
                <br>
                {{ evaluation_text }}
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>