<!DOCTYPE html>
<html lang=en>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sandstone/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ABdnjefqVzESm+f9z9hcqx2cvwvDNjfrwfW5Le9138qHCMGlNmWawyn/tt4jR4ba" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Draft Machine</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Draft Machine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('find') }}">Findings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('method') }}">Methodology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('charts') }}">Charts</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">

            <div class="row">

                <h1>Welcome to the 2020 Basketball Draft Machine!</h1>
                <p class="lead">What are the pro prospects for college's best basketball players? Our model applies
                    machine
                    learning to college draft picks from the past 20 years, and
                    assesses what college stats predict success or failure at the pro-level. See our 2020 draft
                    forecasts
                    below.
                    Also, try it yourself with a player of your creation.
                    For more information, check our <a href="{{ url_for('method') }}" class="text-primary">methodology
                    </a> and <a href="{{ url_for('find') }}" class="text-primary">findings</a> pages.
                </p>
                <hr class="my-4">
            </div>
        </div>
        <div class="row ml-4">
            <div class=col-6>
                <h2 class="text-center">2020 Draft Predictions</h2>
                <br>
                <table class="table table-hover">
                    <thead>
                        <tr class="table-light" style="text-align: left;">
                            <th scope="col">NBADraft.net Rank</th>
                            <th scope="col">Name</th>
                            <th scope="col">College</th>
                            <th scope="col">Year</th>
                            <th scope="col">Model Prediction</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-primary">
                            <td>1</td>
                            <td>Anthony Edwards</td>
                            <td>Missouri State</td>
                            <td>Fr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-danger">
                            <td>2</td>
                            <td>James Wiseman</td>
                            <td>Memphis</td>
                            <td>Fr.</td>
                            <td>Bust</td>
                        </tr>
                        <tr class="table-primary">
                            <td>4</td>
                            <td>Obi Toppin</td>
                            <td>Dayton</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>5</td>
                            <td>Jaden McDaniels</td>
                            <td>Washington</td>
                            <td>Fr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-danger">
                            <td>6</td>
                            <td>Nico Mannion</td>
                            <td>Arizona</td>
                            <td>Fr.</td>
                            <td>Bust</td>
                        </tr>
                        <tr class="table-primary">
                            <td>8</td>
                            <td>Daniel Oturu</td>
                            <td>Minnesota</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-danger">
                            <td>9</td>
                            <td>Cole Anthony</td>
                            <td>North Carolina</td>
                            <td>Fr.</td>
                            <td>Bust</td>
                        </tr>
                        <tr class="table-primary">
                            <td>10</td>
                            <td>Vernon Carey Jr.</td>
                            <td>Duke</td>
                            <td>Fr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-danger">
                            <td>11</td>
                            <td>Tyrese Haliburton</td>
                            <td>Iowa State</td>
                            <td>So.</td>
                            <td>Bust</td>
                        </tr>
                        <tr class="table-primary">
                            <td>13</td>
                            <td>Onyeka Okongwu</td>
                            <td>Southern California</td>
                            <td>Fr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>14</td>
                            <td>Isaac Okoro</td>
                            <td>Auburn</td>
                            <td>Fr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>15</td>
                            <td>Josh Green</td>
                            <td>Arizona</td>
                            <td>Fr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>16</td>
                            <td>Zeke Nnaji</td>
                            <td>Arizona</td>
                            <td>Fr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>18</td>
                            <td>Isaiah Stewart</td>
                            <td>Siena</td>
                            <td>Fr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>19</td>
                            <td>Ashton Hagans</td>
                            <td>Kentucky</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>20</td>
                            <td>Precious Achiuwa</td>
                            <td>Memphis</td>
                            <td>Fr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>21</td>
                            <td>Aaron Nesmith</td>
                            <td>Vanderbilt</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>22</td>
                            <td>Tyrese Maxey</td>
                            <td>Kentucky</td>
                            <td>Fr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>23</td>
                            <td>Jordan Nwora</td>
                            <td>Louisville</td>
                            <td>Jr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>24</td>
                            <td>Ochai Agbaji</td>
                            <td>Kansas</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>25</td>
                            <td>Paul Reed</td>
                            <td>East Tennessee State</td>
                            <td>Jr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>26</td>
                            <td>Jalen Smith</td>
                            <td>Maryland</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>27</td>
                            <td>Reggie Perry</td>
                            <td>Mississippi State</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>28</td>
                            <td>Devon Dotson</td>
                            <td>Kansas</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>29</td>
                            <td>Udoka Azubuike</td>
                            <td>Kansas</td>
                            <td>Sr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>30</td>
                            <td>CJ Elleby</td>
                            <td>Washington State</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>31</td>
                            <td>Landers Nolley II</td>
                            <td>Louisiana State</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>32</td>
                            <td>Devin Vassell</td>
                            <td>Florida State</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>34</td>
                            <td>Cassius Stanley</td>
                            <td>Duke</td>
                            <td>Fr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>35</td>
                            <td>Saddiq Bey</td>
                            <td>Villanova</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>36</td>
                            <td>Nick Richards</td>
                            <td>Kentucky</td>
                            <td>Jr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-danger">
                            <td>37</td>
                            <td>Elijah Hughes</td>
                            <td>Syracuse</td>
                            <td>Jr.</td>
                            <td>Bust</td>
                        </tr>
                        <tr class="table-primary">
                            <td>38</td>
                            <td>Tyler Bey</td>
                            <td>Colorado</td>
                            <td>Jr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>39</td>
                            <td>Chris Smith</td>
                            <td>Connecticut</td>
                            <td>Jr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>40</td>
                            <td>Omer Yurtseven</td>
                            <td>Georgetown</td>
                            <td>Jr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>41</td>
                            <td>Markus Howard</td>
                            <td>Marquette</td>
                            <td>Sr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-danger">
                            <td>43</td>
                            <td>Malachi Flynn</td>
                            <td>San Diego Dtate</td>
                            <td>Jr.</td>
                            <td>Bust</td>
                        </tr>
                        <tr class="table-primary">
                            <td>44</td>
                            <td>Austin Wiley</td>
                            <td>Auburn</td>
                            <td>Sr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>45</td>
                            <td>Payton Pritchard</td>
                            <td>Oregon</td>
                            <td>Sr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>46</td>
                            <td>Steven Enoch</td>
                            <td>Louisville</td>
                            <td>Sr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>47</td>
                            <td>Mamadi Diakite</td>
                            <td>Virginia</td>
                            <td>Sr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>48</td>
                            <td>Derrick Alston</td>
                            <td>Boise State</td>
                            <td>Jr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>49</td>
                            <td>Malik Fitts</td>
                            <td>Saint Marys CA</td>
                            <td>Jr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>50</td>
                            <td>Tre Jones</td>
                            <td>Duke</td>
                            <td>So.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>51</td>
                            <td>Cassius Winston</td>
                            <td>Michigan State</td>
                            <td>Sr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>52</td>
                            <td>Lamar Stevens</td>
                            <td>Penn State</td>
                            <td>Sr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>55</td>
                            <td>Killian Tillie</td>
                            <td>Gonzaga</td>
                            <td>Sr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>56</td>
                            <td>Mustapha Heron</td>
                            <td>St Johns NY</td>
                            <td>Sr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>57</td>
                            <td>Myles Powell</td>
                            <td>Seton Hall</td>
                            <td>Jr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-primary">
                            <td>59</td>
                            <td>Desmond Bane</td>
                            <td>Texas Christian</td>
                            <td>Sr.</td>
                            <td>Pro Player</td>
                        </tr>
                        <tr class="table-danger">
                            <td>60</td>
                            <td>Cam Mack</td>
                            <td>Nebraska</td>
                            <td>So.</td>
                            <td>Bust</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=col-6>
                <form action="{{url_for('predict')}}" method="post">
                    <div class="row mr-4">
                        <div class=col-12>
                            <h2 class="text-center">Create and Evaluate Your Own Player</h2>
                            <br>
                            <h4 class="text-center">Enter Player Name and NCAA stats</h4>
                            <br>
                        </div>
                    </div>
                    <div class="row mr-4">
                        <div class=col-2>
                            <label for="name">Name:</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Player Name" id="name"
                                    name="player_name">
                            </div>
                        </div>
                        <div class=col-2>
                            <label for="height">Height (in.)</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <select class="form-control" id="height" name="height_select">
                                    <option>65</option>
                                    <option>70</option>
                                    <option>75</option>
                                    <option>80</option>
                                    <option>87</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mr-4">
                        <div class=col-2>
                            <label for="fg">FG%</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <select class="form-control" id="fg" name="fg_select">
                                    <option>30%</option>
                                    <option>35%</option>
                                    <option>40%</option>
                                    <option>45%</option>
                                    <option>50%</option>
                                    <option>55%</option>
                                    <option>65%</option>
                                    <option>75%</option>
                                </select>
                            </div>
                        </div>
                        <div class=col-2>
                            <label for="ws-40">Win Share/40</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <select class="form-control" id="ws-40" name="ws-40_select">
                                    <option>0</option>
                                    <option>0.05</option>
                                    <option>0.1</option>
                                    <option>0.15</option>
                                    <option>0.2</option>
                                    <option>0.3</option>
                                    <option>0.4</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="row mr-4">
                        <div class=col-2>
                            <label for="true-shoot">True Shooting %</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <select class="form-control" id="true-shoot" name="true-shoot_select">
                                    <option>35%</option>
                                    <option>40%</option>
                                    <option>45%</option>
                                    <option>50%</option>
                                    <option>55%</option>
                                    <option>60%</option>
                                    <option>65%</option>
                                    <option>70%</option>
                                </select>
                            </div>
                        </div>
                        <div class=col-2>
                            <label for="ft-ar">FT Attempt Rate</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <select class="form-control" id="ft-ar" name="ft-ar_select">
                                    <option>0.1</option>
                                    <option>0.2</option>
                                    <option>0.3</option>
                                    <option>0.4</option>
                                    <option>0.5</option>
                                    <option>0.6</option>
                                    <option>0.7</option>
                                    <option>0.8</option>
                                    <option>0.9</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="row mr-4">
                        <div class=col-2>
                            <label for="3-point">3-Point %</label>
                        </div>
                        <div class=col-4>
                            <div class="form-group">
                                <select class="form-control" id="3-point" name="three_point_select">
                                    <option>0%</option>
                                    <option>20%</option>
                                    <option>25%</option>
                                    <option>30%</option>
                                    <option>35%</option>
                                    <option>40%</option>
                                    <option>45%</option>
                                    <option>50%</option>
                                </select>
                            </div>
                        </div>
                        <div class=col-6>
                        </div>
                    </div>
                    <div class="row mr-4">
                        <div class=col-2>
                        </div>
                        <div class=col-4>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Go!</button>
                        </div>
                        <div class=col-6>
                        </div>
                    </div>
                </form>
                <br>
                <br>
                <h2>{{ evaluation_text }}</h2>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>